<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Status API</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>
<body>
    <header>
        <h1>Welcome to the URL Status API</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/info">Info</a>
        </nav>
    </header>
    <main>
        <p>
            This is a web project I made to demonstrate my skills.
        </p>
    </main>
    <footer>
        <p>
            This site uses a css framework called simple css. 
            You should check them out at their <a href="https://simplecss.org">site</a>.
        </p>
    </footer>
</body>
</html>